* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    display: flex;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    
    background-color: #0fabf5;
    display: flex;
    padding: 25px 0; 
}
.logo {
   
    cursor: pointer;
    
}
.header-container{
width: 90%;
height: auto;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.header-container a {
    color: #fff;
    font-size: 13px;
    padding: 10px 15px;
    margin-right: 15px;
    font-weight:bold ;
    
}
.header-container a:hover{
    background: #fcac45;

}
#menu-checkbox{
    display: none;
}
ul{
    display: flex;
    
}
nav {
    margin-top: 20px;
}
.mw-100{
    max-width: 100%;
}
@media screen and (max-width: 770px) {
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu {
        display: none;
    }
    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a {
        display: block;
        padding: 8px;
    }
    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: white;
        font-weight:bold;
        
    }
    .toggle-button:after {
        content:attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu{
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button::after{
        content:attr(data-close);
    }
    .header-container a{
        margin-right: -65px;
    }
   
  
.team_cards{
    flex-direction: column;
 }
 .general_about {
    flex-direction: column;
}

main .main_welcome {
    padding: 50px 0 50px 0;
}
.mw-100 {
    max-width: 100%;
}
.main_about {
    flex-direction: column;
}
.about_right {
    text-align: center;
    margin-left: 0;
}
.about_right li {
    text-align: left;
}
.about_right h1 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}



}

    
    /* @media screen and (max-width: 420px) {
        .general_about {
            flex-direction: column;
        }
        .about_left {
            width: 100%;
        }
        */
    }   
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .main_welcome{
    background:#0fabf5;
    padding: 50px 0 50px 0;
    text-align: center;
}
main .main_welcome p{
    color: #dee435;
    font-size: 25px;

}
main .main_welcome h1{
    color: #fff;
    font-size: 80px; 
    border-bottom: 3px solid #0fabf5;
}

main .main_welcome h1::after{
display: none;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.about_right {
    width: 50%;
}


main .main_about {
    display: flex;
    padding: 100px 0 100px 0;
}
.about_right {
    margin-left: 100px;
}
.about_right h1{
    display: inline-block;
   text-align: center;
   
  
}

.about_right p {
    margin: 30px 0 30px 0;
}

.mw-100 {
    min-width: 100%;
}



.main_team{
    background:  #0fabf5;
    text-align: center;
    padding: 85px 0 165px 0;
    color: #0fabf5;
}
.main_team h1{
    font-size: 30px;
    padding-bottom: 30px;
    color: #fff;
}
.line {
    width: 120px;
    height: 3px;
    background: #fcac45;
    position: relative;
    left: 45.5%;
    margin-bottom: 105px;
}
.photo img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px auto;
}
.team_cards{
    display: flex;
    justify-content: space-between;
  text-align: center;
 
}
.name {
    font-size: 20px;
    margin-bottom: 7px;
}
.position{
    font-size: 16px;
    margin-bottom: 30px;
}
.about_position {
    font-size: 14px;
   font-style: italic;
}
.card {
    margin: 0 40px;
    width: 90%;
}
.wrap {
    display: flex;
    align-items: stretch;
    width: 90%;
    margin: auto;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}


}
.wrap h1 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px; 
  margin-top: 40px; 
}
.line {
    width: 120px;
    height: 3px;
    background: #fcac45;
    position: relative;
    left: 45.5%;
    margin-bottom: 50px;
}

.gallery {
    margin-top: 20px;
    padding: .5vw;
    font-size: 0;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    display: flex;
}

.gallery div {
    flex: auto;
    width: 237px;
    margin: .5vw;
}
.gallery div img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 550px) {
    .gallery div {margin: 0;}
    .gallery {padding: 0;}
}
.gallery:hover img {
    opacity: 0.3;
    transition: .8s opacity;
}

.gallery:hover img:hover{
    opacity: 1;
    transition: .8s opacity;
}

h1:after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    padding-top: 30px;
    border-bottom: 3px solid #fcac45;
}
.wrapped {
    background:  #0fabf5;
    display: flex;
    align-items: stretch;
    width: 100%;
    margin: auto;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    color: #fff;
}
.contacts {
    margin-top: 10px;
}

.contacts h2 {
    margin-top: 30px;

}
.contacts p{
    margin-top: 10px;
}
.social{
    
    margin-top: 15px;
    margin-bottom: 15px;
}

.social img{
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}








        
    
